﻿@using CodeSample.Api.Helpers
@model CodeSample.Api.Models.NewProductEmailModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
<div>
    <h1>@Model.Title</h1>
    <p>@Model.Body</p>
    <p>Get the product information @Model.Url</p>
    <p>Enjoy!</p>
</div>
</body>
</html>